<%= render 'shared/navbar' %>

<div class="banner">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<br>
<h1 class="last-paintings">My last paintings</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <p class="card-price">350<i class="fa fa-eur" aria-hidden="true"></i></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <p class="card-price">350<i class="fa fa-eur" aria-hidden="true"></i></p>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <p class="card-price">350<i class="fa fa-eur" aria-hidden="true"></i></p>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="quotes">
  <p class="quoted">
    « A la réflexion, il m’apparut que les taches sur le papier, bien que des plus indistinctes, m’avaient inconsciemment incité à exprimer l’aspect général d’un paysage »
  </p>
  <p class="quoted">
    "On reflection, it occurred to me that the spots on the paper, although more indistinct, had unconsciously prompted me to express the general appearance of a landscape"
  </p>
  <p class="author-quote">
    Alexander Cozens (1717 - 1786)
  </p>
</div>

<section id="projects">
  <div id="galleries">
    <div id="mosaique">
      <div>
       <!-- Chaque photo a affiché sur sa petite carte -->
      </div>
    </div>
  </div>

   <div class="hidden">
    <div>
      <div id="bg-project" class="screen-size">
     <!--   Mettre chacune des photos en mode caché avec la taille du background -->
      </div>
    </div>
  </div>

</section>

