<div class="tabs">
  <div class="tab active" data-target="#AboutMe">About me</div>
  <div class="tab" data-target="#Biography">Biography</div>
  <div class="tab" data-target="#Philosophy">Philosophy</div>
  <div class="tab" data-target="#Technics">Technics</div>
</div>

<div id="AboutMe" class="tab-content active">
  Philippe Casaubon, peintre français né à Saint-Brieuc en 1952, vit à Bagnolet et travaille en France.
  Que ce soit pendant ses études (Publicité) ou durant sa vie professionnelle (Vidéo, Maquettiste, Comédien), l’image l’a toujours guidé, parfois d’une manière inconsciente, dans ses choix et ses chemins personnels et professionnels.
  La fréquentation de différents ateliers (Vigilio Jattosti, Bruno Mathon, Jean-Yves Guionet) lui a finalement permis de trouver un style et une écriture originale. Jean-Yves Guionet a surtout été l’accoucheur et le révélateur de sa palette.


  Elève de :
  - Virgilio Jatosti
  - Bruno Mathon
  - Jean-Yves Guionet
</div>

<div id="Biography" class="tab-content hidden">
  Différents ateliers

  Elève de :
  - Virgilio Jatosti
  - Bruno Mathon
  - Jean-Yves Guionet


  « Partir de ce qui devient ».

  Philippe Casaubon, peintre français né à Saint-Brieuc en 1952, vit à Bagnolet et travaille en France.
  Que ce soit pendant ses études (Publicité) ou durant sa vie professionnelle (Vidéo, Maquettiste, Comédien), l’image l’a toujours guidé, parfois d’une manière inconsciente, dans ses choix et ses chemins personnels et professionnels.
  La fréquentation de différents ateliers (Vigilio Jattosti, Bruno Mathon, Jean-Yves Guionet) lui a finalement permis de trouver un style et une écriture originale. Jean-Yves Guionet a surtout été l’accoucheur et le révélateur de sa palette.
  La peinture est une science dans laquelle on ne trouve pas ce que l'on cherche mais où l'artiste découvre ce qu'il ne cherche pas. Philippe Casaubon pratique une peinture "darwiniste". Il part du fond et non de la forme, il utilise la matière, terreau fertile et impérissable, qu'il organise, harmonise, rythme, décompose et recompose. Rien ne se perd, rien ne se crée, tout se transforme. Sa peinture commence là où s'arrêtent les mots et l'inconnu, l'aléatoire, le chaos servent de support à sa création.
  Sortir de la comparaison, de l'imitation, de l'intention, de la répétition, de la modélisation, de la compensation.
  Des années pour arriver à dépasser l'image et approcher ce qu'est la peinture.

  « A la réflexion, il m’apparut que les taches sur le papier, bien que des plus indistinctes, m’avaient inconsciemment incité à exprimer l’aspect général d’un paysage », Alexander Cozens (1717 – 1786).
</div>

<div id="Philosophy" class="tab-content hidden">
  Des mots sur l'art

  « Il convient de se rappeler qu’un tableau, avant d’être un cheval de bataille, une femme nue ou une quelconque anecdote, est essentiellement une surface plane recouverte de couleurs en un certain ordre assemblées », Maurice Denis (1870 – 1943).
  Il m’a fallu longtemps pour passer de l’image à la peinture. Plusieurs années. Comme il faut plusieurs années à l’enfant pour maîtriser le langage.
  Tout un temps l’objet de ma peinture était le sujet et tournait autour de ce concept : je sais ce que je fais et le spectateur regardant mon travail pouvait se dire : je sais ce que je vois.
  Il m’a fallu longtemps pour intégrer, et non pas comprendre, le fait que le problème est bien ailleurs.
  Le peintre peint, le spectateur regarde.
  Que le spectateur voit exactement ce que le peintre a voulu exprimer est parfaitement secondaire. De toute façon il ne le comprendra jamais. Ils n’ont pas le même langage. La calligraphie asiatique est d’abord un langage et pourtant nous n’en voyons que la forme. Même la pire des injures exprimée de cette façon peut être de toute beauté.
  La fleur qui pousse ne s’occupe pas de l’effet qu’elle va produire. Elle peut être à la fois superbe et avoir des épines. Les uns ne vont voir que la fleur, les autres que les épines parce qu’ils en ont fait l’expérience.
  Le peintre qui ne s’occupe que de l’effet qu’il va produire, oublie les épines.
  La peinture est une aventure autant pour le peintre que pour le spectateur de l’œuvre. Et dans cette aventure, la carte n’est pas le territoire.
  Je travaille à l’huile sur papier. J’ai toujours en cours une trentaine de peintures car je n’en vois une que par rapport à une autre et le tout forme une chaîne sans fin, intarissable et qui se nourrit d’elle-même.
  L’œuvre peint se voit d’une manière globale. On ne peut goûter le Mondrian des dernières années qu’en connaissant ses débuts.
  Ma peinture repose sur le rythme, la composition et l’harmonie. Harmonie, dans la mythologie, fille de Mars et de Vénus. C’est ce contraste qui me guide. Contraste de couleur, de forme, de matière, complémentarité et contraste des éléments.


  "It is important to remember that a picture, before being a battle horse, a nude woman, or some anecdote, is essentially a flat surface covered with colors assembled in a certain order," Maurice Denis (1870 - 1943) .
  It took me a long time to switch from the image to the painting . For several years. Since it takes several years for the child to master the language.
  For a while, the object of my painting was the subject and revolved around the concept: I know what I do and the audience watching my work could say: I know what I see.
  It took me a long time to integrate, not understand that the problem is elsewhere.
  The painter paints, the viewer is watching.
  That the viewer sees exactly what the painter wanted to express is perfectly secondary. Anyway he will never understand it. They do not have the same language. Asian calligraphy is first of all a language and yet we see only the form. Even the worst of insults expressed in this way can be beautiful.
  The flower that grows does not mind the effect it will produce. It can be both beautiful and have thorns. Some do only see the flower, the other the thorns because they have experienced.
  The painter who is only concerned with the effect it will produce, forget the thorns.
  The painting is an adventure as for the painter and for the spectator of the work. And in this adventure, the map is not the territory.
  I work in oil on paper. I always have about thirty paintings ongoing because I see one that compared to another, and the whole forms an endless chain, inexhaustible and that feeds on itself.
  The work is seen painted in a comprehensive manner. One can taste the Mondrian recent years by knowing its infancy.
  My painting is based on rhythm, composition and harmony. Harmony, in mythology, the daughter of Mars and Venus. It is this contrast that guides me. Color contrast, shape, material, complementarity and contrast elements.
</div>

<div id="Technics" class="tab-content hidden">
  Huile sur papier

  Huile sur papier 300 gr préparé au caparol.
  Deux formats : raisin (65x50 cm) ou demi-raisin (33x50 cm)
  Papier marouflé sur toile à l'occasion
</div>
